[Unit]
Description=HPC Scheduler REST service
After=network.target remote-fs.target

[Service]
Type=simple
ExecStart=/usr/sbin/schedrestd
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
