[Unit]
Description=HPC Scheduler REST service
After=network.target remote-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -c "/usr/sbin/schedrestd > /var/log/schedrestd.log 2>&1"
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=15
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
